<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843508501684-em94sv0k2emk9sia3aqudt2ccgjaprqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843508501684-em94sv0k2emk9sia3aqudt2ccgjaprqh</string>
	<key>API_KEY</key>
	<string>AIzaSyDK_jlCeTEvAQuLQH0Id1HQld3z68lz7i0</string>
	<key>GCM_SENDER_ID</key>
	<string>843508501684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamedwagdy4153.chatMe</string>
	<key>PROJECT_ID</key>
	<string>chat-me-2c5fc</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-me-2c5fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843508501684:ios:f1fb520a86f1dc9006dbe1</string>
</dict>
</plist>